<h1>ToDo List</h1>
<div>
  <mat-form-field appearance="fill" class="select-container">
    <mat-select [(value)]="selectedStatus$" (selectionChange)="setStatus($event.value)">
      <mat-option [value]="null">{{ 'status.all.title' | translate }}</mat-option>
      <mat-option *ngFor="let status of statuses" [value]="status">{{ status }}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<app-spinner *ngIf="isLoading$ | async; else taskList"></app-spinner>
<ng-template #taskList>
  <div class="tasks-container">
    <ul class="common-list">
      <app-to-do-list-item *ngFor="let item of (filteredItems$ | async)"
                          [listItem]="item"
                          (delete)="deleteItem(item.id)"
                          (click)="selectItem(item.id)"
                          [ngClass]="{'selected': selectedItemId === item.id}"
                          (update)="updateItem($event)">
      </app-to-do-list-item>
    </ul>
    <router-outlet/>
  </div>

</ng-template>

<app-to-do-create-item (addItem)="addItem($event)"></app-to-do-create-item>
