<h1>ToDo List</h1>
<div *ngIf="isLoading; else taskList"
      class="spinner" ></div>
<ng-template #taskList>
  <ul class="common-list">
    <app-to-do-list-item *ngFor="let item of listItems"
                        [listItem]="item"
                        (delete)="deleteItem(item.id)"
                        (click)="selectItem(item.id)"
                        tooltip="description"
                        [ngClass]="{'selected': selectedItemId === item.id}">
    </app-to-do-list-item>
  </ul>
  <p  *ngIf="selectedItemId"
      class="description">{{ isSelectedItemDescription() }}</p>
</ng-template>

<div class="task">
  <input class="task__input"
        [(ngModel)]="newItemValue"
        matInput>
  <app-button   (click)="addItem(newItemValue, newItemDescription); newItemValue=''; newItemDescription=''"
                [title]="'Add task'"
                [disabled]="!newItemValue.trim()"
                [classTypeButton]="'common__button_add'"
                tooltip="add new item">
  </app-button>
</div>

<textarea   matInput
            [(ngModel)]="newItemDescription"
            placeholder="description"
            class="textarea">
</textarea>
