<h1>ToDo List</h1>
<div *ngIf="isLoading; else taskList"
      class="spinner" ></div>
<ng-template #taskList>
  <ul class="common-list">
    <app-to-do-list-item *ngFor="let item of listItems"
                        [listItem]="item"
                        (delete)="deleteItem(item.id)">
    </app-to-do-list-item>
  </ul>
</ng-template>

<div class="task">
  <input class="task__input"
        [(ngModel)]="newItemValue"
        matInput>
  <app-button   (click)="addItem(newItemValue); newItemValue=''"
                [title]="'Add task'"
                [disabled]="!newItemValue.trim()"
                [classTypeButton]="'common__button_add'">
  </app-button>
</div>
