<div class="task">
  <input class="task__input"
        [(ngModel)]="newItemValue"
        placeholder="{{ 'item.create.addPlaceholder' | translate }}"
        matInput>
  <app-button   (click)="createItem(newItemValue, newItemDescription); newItemValue=''; newItemDescription=''"
                [disabled]="!newItemValue.trim()"
                [classTypeButton]="'common__button_add'"
                tooltip="{{ 'item.create.tooltip' | translate }}">
                {{ 'item.create.addButtonTitle' | translate }}
  </app-button>
</div>

<textarea   matInput
            [(ngModel)]="newItemDescription"
            placeholder="{{ 'item.create.descriptionPlaceholder' | translate }}"
            class="textarea">
</textarea>
