html {
  box-sizing: border-box;
}

*, ::before, ::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.container {
  width: 1140px;
  margin: 0 auto;
  padding: 0;
  @media screen and (max-width: 767px) {
    width: 320px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.tooltip-container {
  text-align: center;
  z-index: 100;
  position: fixed;
  padding: 6px 12px;
  font-size: 0.66rem;
  font-weight: 600;
  line-height: initial;
  color: white;
  width: auto;
  background: #111111ee;
  box-sizing: border-box;
  opacity: 0;
  transform: translate(-50%, -30%);
  animation: tooltip-slide 0.18s ease-out 0.5s;
  animation-fill-mode: forwards;
  pointer-events: none;
}

@keyframes tooltip-slide {
  0% {
    opacity: 0;
    transform: translate(-50%, -30%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

.common {
  &-list {
    .selected  {
      .common-list__item {
        background: #6eb86e;
      }
    }
  }

}

